<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260026003419-4aeffr1dn467lrcbjls62bhtf1jv1d0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260026003419-4aeffr1dn467lrcbjls62bhtf1jv1d0u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>260026003419-eemt466kmtt4kc0qtk4o9etpkv9voj1o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtek39iBBpue5Js5HE7z8Spbra3Ghxor8</string>
	<key>GCM_SENDER_ID</key>
	<string>260026003419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.krushin.app</string>
	<key>PROJECT_ID</key>
	<string>krush-43dd7</string>
	<key>STORAGE_BUCKET</key>
	<string>krush-43dd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260026003419:ios:afd7eadb95fdc951c381fe</string>
	<key>DATABASE_URL</key>
	<string>https://krush-43dd7.firebaseio.com</string>
</dict>
</plist>